/* Enter your custom styles here /
.myText {

    font-size: 1.4rem;
    color: #3d6add;
    font-weight: bold;
    / font-family: 'Open Sans', sans-serif !important; */


 
.myText2 {

    font-size: 1.4rem;
    color: #35ea15;
    font-weight: bold;
    
}